body, 
p { 
	color: #000; 
	font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif; 
	font-size: 16px; 
	font-weight: normal; 
	line-height: 22px; 
	width: 640px;
	margin: 0 auto; 
	padding: 0; 
	text-indent: 2em;
	text-decoration: none; 
}

div {
	width: 646px;
	background-color: #e8d173;
	border: 2px solid #a91e22;
}

h2 {
	font-family: Cooperplate, 'Times New Roman', serif;
	font-size: 26px;
	text-shadow: 2px 2px 2px #1b1f50;
	line-height: .5em;
	color: #fff;

}

h3 {
	font-family: Cooperplate, 'Times New Roman', serif;
	font-size: 22px;
	text-indent: 1.5em;
	color: #8b461c;

}

#nav, ul { 
	background-color: #fda025;
	opacity: .95;
	list-style-type: none;
	padding: 5px;
	line-height: 1.5em;
	font-size: 22px;
	clear: both; 
	margin: 0 auto; 
	overflow: hidden;
	width: 640px;
	border-bottom: 5px solid #a91e22;

}

li {
	float: left;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	 color: #d0000d
}

ol {
	background-color: #fda025;
	width: 300px;
	list-style-type: none;
	padding: 5px;
	line-height: 1.75em;
	font-size: 18px;
	color: #fff;
	clear: both; 
	margin: 0 auto; 
	overflow: hidden;
	padding: 0; 
	text-indent: 1.25em;
	border: 2px solid #a91e22;
}

footer{
	font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif; 
	font-size: 10px; 
	font-weight: normal; 
	text-align: center;
}


